body {
    background-color: cornsilk;
    color: rgb(232, 15, 145);
    text-align: left;
}

article {

    width: 150px;
    height: 200px;
    border: 15px solid;
    border-color: rgb(232, 15, 145);
    background-color: white;
    display: inline-block;
    padding: 5px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

section {
    width: 600px;
    height: 250px;
    

}

img {
    width: 137px;
    height:195px;
    padding-right: 0px;
    padding-left: 4px;
}

h2 {
    text-align: center;
    background-color:palegoldenrod;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
}